/* Grunden för hela layouten */
.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr 2fr;
    gap: 10px;
    height: 100vh;
}

/* Gemensam stil för alla grid-boxar för att visa synliga gränser */
.container > div {
    border: 1px solid #000; /* Synliga boxar */
    background-color: #f4f4f4; /* Ljus bakgrund för kontrast */
    padding: 10px;
    box-sizing: border-box; /* Säkerställer att padding inte påverkar storleken */
}

/* Vänster kolumn */
.left {
    grid-column: 1 / 2;
    grid-row: 2 /3;
    background-color: #ddd;
}

.ingredient {
    text-decoration: none; /* Tar bort understrykningen */
    color: #333; /* Standard färg för texten */
    font-size: 16px; /* Standardstorlek på texten */
    display: inline-block;
    transition: font-size 0.3s ease, color 0.3s ease; /* Lägg till en transition för storlek och färg */
}

.ingredient:hover {
    font-size: 20px; /* Gör texten större vid hover */
    color: #007bff; /* Ändra färgen vid hover */
}
/* Sektioner */
.top-center {
    grid-column: 2 / 3;
    grid-row: 1;
    background-color: #ccc;
}

.middle-center {
    grid-column: 2 / 3;
    grid-row: 3/4;
    background-color: #bbb;
}

.bottom-center {
    grid-column: 2 / 3;
    grid-row: 2/3;
    background-color: #ccc;
}

/* Footer */
.footer {
    grid-column: 1 / 4;
    background-color: #ccc;
}

/* Höger kolumn */
.right {
    grid-column: 3 / 4;
    grid-row: 2 / 5;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Bildcontainer */
.image-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto;
}

/* Justera bilder */
.image-container img {
    max-width: 90%;
    max-height: 50%; /* Varje bild får max halva höjden av containern */
    object-fit: contain;
    border: 1px solid #000; /* Synlig gräns runt bilderna */
}
